<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="head">
            <h2>ADD EVENTS</h2>
            </div>
            <form  method="post" action="/">
                <div class="form">
                    <label for="date">Date</label>
                    <div class="date">                   
                    <input type="text" id="date" placeholder="DD" name="d">
                    <input type="text" id="month" placeholder="MM" name="m">
                    <input type="text" id="year" placeholder="YYYY" name="y">
                    </div>
                    <label for="event">Event</label>
                    <input type="text" id="event" name="eve">
                    <label for="msg">Message</label>
                    <input type="text" id="msg" name="msg"></input> 
                </div>
                <input type="submit" id="submit">
            </form>
            <button id="addm"><i class="fa-regular fa-plus fa-2xl"></i></button>
        </div>
    </div>
    <script >
        const f=document.querySelector(".form")
              
              const addmore=()=>{
                  var no=0
                  const btn=document.querySelector("#addm")
                  btn.addEventListener("click",()=>{
                      no++
                      const subhead=document.createElement("h3")
                      subhead.innerHTML=`event no ${no}`
                      subhead.id="sub"
                      const date=document.createElement("div")
                      const dl=document.createElement("label")
                      dl.innerHTML="Date"
                      date.classList.add("date")
                      const dd=document.createElement("input")
                      dd.id="date"
                      dd.type="text"
                      dd.placeholder="DD"
                      dd.name="d"
                      date.append(dd)
                      const mm=document.createElement("input")
                      mm.id="month"
                      mm.type="text"
                      mm.placeholder="MM"
                      mm.name="m"
                      date.append(mm)
                      const yy=document.createElement("input")
                      yy.id="year"
                      yy.type="text"
                      yy.placeholder="YYYY"
                      yy.name="y"
                      date.append(yy)
              
                      const evel=document.createElement("label")
                      evel.innerHTML="Event"  
                      const eve=document.createElement("input")
                      eve.type="text"
                      eve.id="event"
                      eve.name="eve"
                      const msgl=document.createElement("label")
                      msgl.innerHTML="Message"  
                      const msg=document.createElement("input")
                      msg.type="text"
                      msg.id="msg"
                      msg.name="msg"
                      f.appendChild(subhead)
                      f.appendChild(dl)
                      f.appendChild(date)
                      f.appendChild(evel)
                      f.appendChild(eve)
                      f.appendChild(msgl)
                      f.appendChild(msg)
              
                  })
              }
              addmore()
    </script>
</body>
</html>