<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Create Calendar</h2>
            <form  method="post" action="/generatelink" >
                <label for="name">NAME</label>
                <input type="text" id="name" name="name">
                <label for="calname">CALENDAR'S NAME</label>
                <input type="text" id="calname" name="calname">
                <label for="name">GMAIL</label>
                <input type="gmail" id="gmail" name="gmail">
                <input type="submit" id="submit">
            </form>
        </div>
    </div>
</body>
</html>